apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ name }}
  description: {{ descriptoon }}
spec:
  type: {{ type }}
  owner: {{ owner }}
  system: {{ project }}
  lifecycle: experimental